<h2>Lista de nomes</h2>

<h3>Lista normal</h3>

<ul class="mt-2 list-group">
  <li class="list-group-item">jao</li>
  <li class="list-group-item">bao</li>
  <li class="list-group-item">tai</li>
  <li class="list-group-item">gab</li>
  <li class="list-group-item">kai</li>
</ul>

<hr>

<!-- Exemplo fo if else com angular -->
<div *ngIf="nomeRemovido; else naotemNome ">
  <h3>Nome borrado <small class="text-danger">{{nomeRemovido}}</small></h3>
</div>

<!-- Aqui e o else -->
<ng-template #naotemNome>
  <h3>Não tem nome borrado</h3>
</ng-template>


<button (click)="removeNome()" *ngIf="listaNomes.length>0" class="btn btn-outline-danger">Borrar ultimo dado</button>


<h3>Lista NgFor</h3>

<ul class="list-group mt-2">
  <ul *ngFor="let nome of listaNomes" class="list-group-item">{{nome}}</ul>
</ul>
